version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  commit-message:
    prefix: "[noissue]"
  groups:
    otel:
      patterns:
        - opentelemetry*
