build
dist
*.egg-info
pip-wheel-metadata/
.pytest_cache

# Built documentation
docs/_build
docs/_diagrams
docs/api.yaml
docs/pulpdocs/

# Overriden variables
containers/vars/vars.yaml

# Generated Dockerfiles
containers/images/pulp/Dockerfile.*

# Cached files for offline testing
/GPG-PRIVATE-KEY-fixture-signing
