sudo: required
# https://docs.travis-ci.com/user/trusty-ci-environment/
dist: xenial
language: python
python:
    # python versions used in el7 SCL & supported fedora
    - "3.6"
    - "3.7"
env:
  matrix:
    - DB=postgres TEST=pulp
    - DB=postgres TEST=docs
    - DB=mariadb TEST=pulp
    - DB=postgres TEST=bindings

matrix:
  exclude:
    - python: '3.6'
      env: DB=mariadb TEST=pulp
    - python: '3.7'
      env: DB=postgres TEST=bindings
    - python: '3.6'
      env: DB=postgres TEST=docs
  fast_finish: true
services:
    - postgresql
    - redis-server
    - mariadb
addons:
  apt:
    packages:
      - httpie
      - jq
  # postgres versions provided by el7 RHSCL (lowest supportable version)
  postgresql: '9.6'
  mariadb: '10.3'
before_install: .travis/before_install.sh
install: .travis/install.sh
before_script: .travis/before_script.sh
script: .travis/script.sh
after_failure:
  - sh -c "cat ~/django_runserver.log"
  - sh -c "cat ~/resource_manager.log"
  - sh -c "cat ~/reserved_workers-1.log"
jobs:
  include:
  - stage: deploy-plugin-to-pypi
    script:  bash .travis/publish_plugin_pypi.sh
    if: tag IS present
  - stage: publish-beta-docs
    script: bash .travis/publish_docs.sh rc
    env:
      - DB=postgres
      - TEST=docs
    if: tag IS present
  - stage: publish-continuous-docs
    script: bash .travis/publish_docs.sh nightly
    env:
      - DB=postgres
      - TEST=docs
    if: type != pull_request

  - stage: publish-daily-client-gem
    script: bash .travis/publish_client_gem.sh
    env:
      - DB=postgres
      - TEST=bindings
    if: type = cron
  - stage: publish-daily-client-pypi
    script: bash .travis/publish_client_pypi.sh
    env:
      - DB=postgres
      - TEST=bindings
    if: type = cron
  - stage: publish-client-gem
    script: bash .travis/publish_client_gem.sh
    env:
      - DB=postgres
      - TEST=bindings
    if: tag IS present
  - stage: publish-client-pypi
    script: bash .travis/publish_client_pypi.sh
    env:
      - DB=postgres
      - TEST=bindings
    if: tag IS present
