aiohttp
django
dynaconf
drf-spectacular
pulp-smash @ git+https://github.com/pulp/pulp-smash.git
pulpcore-client
pulp-file-client
pytest
python-gnupg
proxy.py~=2.4.3
trustme~=0.9.0

# from pulp_file
beautifulsoup4
