graft pulpcore/etc
graft pulp_certguard/tests/functional/artifacts
exclude .gitleaks.toml
include LICENSE
include requirements.txt
include pyproject.toml
include CHANGES.md
include COMMITMENT
include ci_requirements.txt
include functest_requirements.txt
include unittest_requirements.txt
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include COPYRIGHT
include pulpcore/app/templates/rest_framework/api.html
include manage.py
include test_requirements.txt
