graft pulpcore/etc
include LICENSE
include requirements.txt
include pyproject.toml
include CHANGES.rst
include COMMITMENT
include ci_requirements.txt
include functest_requirements.txt
include unittest_requirements.txt
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include COPYRIGHT
include pulpcore/app/templates/rest_framework/api.html
include manage.py
include test_requirements.txt
