aiohttp
aiodns
aiofiles
backoff
Django~=2.2.16  # LTS version, switch only if we have a compelling reason to
django-currentuser~=0.5.1
django-filter~=2.3.0
django-guardian~=2.3.0
django-import-export~=2.3.0
django-lifecycle~=0.8.0
djangorestframework~=3.11.1
djangorestframework-queryfields~=1.0.0
drf-access-policy~=0.7.0
drf-nested-routers~=0.91.0
drf-spectacular==0.9.13
dynaconf>=3.0,<4.0
gunicorn>=19.9,<20.1
jinja2
pygtrie~=2.3.3
psycopg2>=2.7,<2.9
PyYAML>=5.1.1,<5.4.0
python-gnupg~=0.4.6
redis>=3.4.0
rq>=1.1,<1.6
setuptools>=39.2.0
whitenoise>=5.0.0,<5.3.0
