asyncio-throttle~=1.0
aiohttp~=3.8.1
aiodns~=3.0.0
aiofiles==0.8.0
aioredis~=2.0.1
backoff~=1.11.0
click<9.0
cryptography~=36.0.1
Django~=3.2.13  # LTS version, switch only if we have a compelling reason to
django-currentuser~=0.5.3
django-filter~=21.1
django-guardian~=2.4.0
django-guid~=3.2.2
django-import-export~=2.7.1
django-lifecycle~=0.9.6
djangorestframework~=3.13.1
djangorestframework-queryfields~=1.0.0
drf-access-policy~=1.1.0
drf-nested-routers==0.93.4
drf-spectacular==0.21.2
dynaconf~=3.1.7
gunicorn~=20.1.0
jinja2~=3.0
naya~=1.1.1
pygtrie~=2.4.2
psycopg2~=2.9.3
PyYAML>=5.1.1,<6.1.0
python-gnupg~=0.4.8
redis~=3.4.0
setuptools>=39.2.0,<62.1.0
url-normalize~=1.4.3
whitenoise>=5.0.0,<6.1.0
yarl~=1.0
