aiohttp~=3.7.2
aiodns~=2.0.0
aiofiles==0.6.0
backoff~=1.10.0
Django~=2.2.17  # LTS version, switch only if we have a compelling reason to
django-currentuser~=0.5.1
django-filter~=2.4.0
django-guardian~=2.3.0
django-guid<3.0
django-import-export~=2.4.0
django-lifecycle~=0.8.0
djangorestframework~=3.12.2
djangorestframework-queryfields~=1.0.0
drf-access-policy~=0.8.1
drf-nested-routers==0.92.1
drf-spectacular==0.11.0
dynaconf~=3.1.2
gunicorn>=19.9,<20.1
jinja2
pygtrie~=2.3.3
psycopg2>=2.7,<2.9
PyYAML>=5.1.1,<5.4.0
python-gnupg~=0.4.6
redis>=3.4.0
rq>=1.7<1.8
setuptools>=39.2.0
whitenoise>=5.0.0,<5.3.0
