[tool.towncrier]
package = "pulpcore"
filename = "CHANGES.md"
directory = "CHANGES/"
title_format = "## {version} ({project_date})"
template = "CHANGES/.TEMPLATE-gh-release.md"
issue_format = "[#{issue}](https://github.com/pulp/pulpcore/issues/{issue})"
start_string = "[//]: # (towncrier release notes start)\n"
underlines = ["", "", ""]

    [[tool.towncrier.section]]
        path = ""
        name = "REST API"

    [[tool.towncrier.section]]
        path = "plugin_api"
        name = "Plugin API"

    [[tool.towncrier.section]]
        path = "pulp_file"
        name = "Pulp File"

    [[tool.towncrier.section]]
        path = "pulp_certguard"
        name = "Pulp Cert Guard"

    [[tool.towncrier.type]]
        directory = "feature"
        name = "Features"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "bugfix"
        name = "Bugfixes"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "doc"
        name = "Improved Documentation"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "removal"
        name = "Removals"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "deprecation"
        name = "Deprecations"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "misc"
        name = "Misc"
        showcontent = false
